In [22]:
from sklearn.model_selection import train_test_split
import numpy as np
import statsmodels.api as sm
from ISLP import load_data
from ISLP.models import ModelSpec as MS, summarize
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression

In [23]:
Default = load_data('Default')
Default

     default student      balance        income
0         No      No   729.526495  44361.625074
1         No     Yes   817.180407  12106.134700
2         No      No  1073.549164  31767.138947
3         No      No   529.250605  35704.493935
4         No      No   785.655883  38463.495879
...      ...     ...          ...           ...
9995      No      No   711.555020  52992.378914
9996      No      No   757.962918  19660.721768
9997      No      No   845.411989  58636.156984
9998      No      No  1569.009053  36669.112365
9999      No     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

In [24]:
#(a)Fit a logistic regression model using income and balance to predict default
allvars = Default.columns.drop(['default','student'])
design = MS(allvars)
X=design.fit_transform(Default)
y=Default.default == 'Yes'
glm = sm.GLM(y,X,family=sm.families.Binomial())
results=glm.fit()
summarize(results)

                coef   std err       z  P>|z|
intercept -11.540500  0.435000 -26.544    0.0
balance     0.005600  0.000000  24.835    0.0
income      0.000021  0.000005   4.174    0.0

In [25]:
#(b)
#i.Split the sample set into a training set and a validation set 
Default_train, Default_valid = train_test_split(Default, test_size=5000, random_state=0)

In [26]:
#ii.Fit logistic regression model using only training observations
hp_mm = MS(['balance', 'income'])
X_train = hp_mm.fit_transform(Default_train)
y_train = (Default_train.default == 'Yes').astype(int)
glm = sm.GLM(y_train, X_train, family=sm.families.Binomial())
results = glm.fit()
summarize(results)

                coef   std err       z  P>|z|
intercept -11.389600  0.635000 -17.935  0.000
balance     0.005600  0.000000  16.792  0.000
income      0.000016  0.000007   2.151  0.031

In [27]:
#iii.Prediction of default ststus in validation set
X_valid = hp_mm.transform(Default_valid)
y_valid = (Default_valid.default == 'Yes').astype(int)
probs_valid = results.predict(X_valid)
labels_valid = np.where(probs_valid > 0.5, 1, 0)

In [28]:
#iv.Validation set error:0.029
validation_error = np.mean(labels_valid != y_valid)
print("Validation Set Error:", validation_error)

Validation Set Error: 0.029

In [33]:
#（c）
#1.test_size=3000
Default_train, Default_valid = train_test_split(Default, test_size=3000, random_state=0)
hp_mm = MS(['balance', 'income'])
X_train = hp_mm.fit_transform(Default_train)
y_train = (Default_train.default == 'Yes').astype(int)
glm = sm.GLM(y_train, X_train, family=sm.families.Binomial())
results = glm.fit()
X_valid = hp_mm.transform(Default_valid)
y_valid = (Default_valid.default == 'Yes').astype(int)
probs_valid = results.predict(X_valid)
labels_valid = np.where(probs_valid > 0.5, 1, 0)
validation_error = np.mean(labels_valid != y_valid)
print("Validation Set Error:", validation_error)

Validation Set Error: 0.027333333333333334

In [36]:
#1.test_size=7000
Default_train, Default_valid = train_test_split(Default, test_size=7000, random_state=0)
hp_mm = MS(['balance', 'income'])
X_train = hp_mm.fit_transform(Default_train)
y_train = (Default_train.default == 'Yes').astype(int)
glm = sm.GLM(y_train, X_train, family=sm.families.Binomial())
results = glm.fit()
X_valid = hp_mm.transform(Default_valid)
y_valid = (Default_valid.default == 'Yes').astype(int)
probs_valid = results.predict(X_valid)
labels_valid = np.where(probs_valid > 0.5, 1, 0)
validation_error = np.mean(labels_valid != y_valid)
print("Validation Set Error:", validation_error)

Validation Set Error: 0.027571428571428573

In [37]:
#1.test_size=9000
Default_train, Default_valid = train_test_split(Default, test_size=9000, random_state=0)
hp_mm = MS(['balance', 'income'])
X_train = hp_mm.fit_transform(Default_train)
y_train = (Default_train.default == 'Yes').astype(int)
glm = sm.GLM(y_train, X_train, family=sm.families.Binomial())
results = glm.fit()
X_valid = hp_mm.transform(Default_valid)
y_valid = (Default_valid.default == 'Yes').astype(int)
probs_valid = results.predict(X_valid)
labels_valid = np.where(probs_valid > 0.5, 1, 0)
validation_error = np.mean(labels_valid != y_valid)
print("Validation Set Error:", validation_error)

#comments:There is not obvious improvement found in Validation Set Error for three different splits of test_size=3000,7000,9000

Validation Set Error: 0.02711111111111111

In [30]:
#(d)Logistic Regression Model with Dummy Variable（‘student’）
X = Default[['income', 'balance', 'student']]
X['student'] = (X['student'] == 'Yes').astype(int)  # Convert 'student' to dummy variable
y = Default['default']

for i in range(3):
    X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.5, random_state=i)
    log_reg = LogisticRegression()
    log_reg.fit(X_train, y_train)
    y_pred = log_reg.predict(X_valid)
    validation_error = np.mean(y_pred != y_valid)
    print(f"Validation Set Error with Dummy Variable {i + 1}:", validation_error)


#According to the result,including a dummy variable for student leads to an increase in the test error rate.

Validation Set Error with Dummy Variable 1: 0.0356
Validation Set Error with Dummy Variable 2: 0.0322
Validation Set Error with Dummy Variable 3: 0.032

/var/folders/b1/_lbgm2qn7lj0s6f8mq3gk_0h0000gn/T/ipykernel_14060/516637690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['student'] = (X['student'] == 'Yes').astype(int)  # Convert 'student' to dummy variable